<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @employee.full_name %>
</p>

<p>
  <b>Age:</b>
  <%= @employee.age %>
</p>

<p>
  <b>Salary:</b>
  <%= @employee.salary %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee), :remote => true %> |
<%= link_to 'Back', employees_path, :remote => true %>
